// Third-party - CSS imports (Vite will handle these)
@import 'swiper/swiper-bundle.css';
@import 'modern-normalize/modern-normalize.css';

@use 'helpers/variables';
@use 'helpers/clearfix';
@use 'helpers/grid';
@use 'helpers/spacers';

@use 'base/base';
@use 'base/animations';
@use 'base/typography';

@use 'components/nav';
@use 'components/buttons';
@use 'components/compare';


@use 'layout/header';
@use 'layout/about';
@use 'layout/work';
@use 'layout/footer';