h1 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.rule {
  line-height: .25;
  text-align: center;

  span {
    background-color: $white;
    display: inline-block;
    padding: 30px;
    position: relative; 
    width: auto;
    
    &:before,
    &:after {
      border-bottom: 1px solid $black;
      content: '';
      height: 30px;
      position: absolute;
      top: 0;
      width: 800px;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }
}
