---
import Navigation from '../components/Navigation.astro';
import CaseStudyGrid from '../components/CaseStudyGrid.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="wrap container-fluid">
    <Navigation active="work" />
  </div>

  <CaseStudyGrid />
</BaseLayout>
