@use "../helpers/variables";

.contact {
  align-items: flex-start;
  background-color: variables.$grey;
  box-shadow: inset 0 5px 0 variables.$brand-primary;
  color: variables.$white;
  display: flex;
  flex-direction: row;
  flex-flow: flex-start;
  padding: 3.6rem 0;
  width: 100%;

  h2 {
    color: variables.$black;
    font-weight: bold;
  }

  p {
    color: variables.$black;
    font-size: 3.6rem;
    font-weight: 100;
  }

  a {
    border-bottom: 2px solid variables.$white;
    color: variables.$brand-primary;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    transition: border-bottom-color 240ms linear;

    &:hover {
      border-bottom-color: variables.$brand-primary;
    }
  }
}
