@use "../helpers/variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$brand-primary;
}

.logo {
  display: block;

  svg {
    fill: variables.$brand-primary;
  }

  h1 {
    float: left;
    font-size: 2rem;
    margin: 0;

    a {
      color: variables.$brand-primary;
      font-weight: normal;
      text-decoration: none;
    }
  }
}
