header {
  @include breakpoint($small) {
    margin-bottom: 275px;
  }

  background: rgba(60, 60, 60, .5);
  height: 48px;
  margin: 0 0 50px;

  .brand {
    @include breakpoint($small) {
      height: 175px;
      width: 175px;
    }

    background: #e22d00 url('../img/logo.svg') no-repeat center 80%;
    background-size: 80%;
    display: block;
    height: 75px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 75px;
  }
}
