@use "sass:color";
@use "../helpers/variables";

.work {
  align-items: flex-start;
  box-sizing: border-box;
  color: variables.$black;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-flow: flex-start;
  flex-wrap: wrap;
  padding: 3.6rem 0;
  width: 100%;

  .whole {
    flex-basis: 100%;
    max-width: 100%;
  }

  .half {
    flex-basis: 50%;
    max-width: 50%;
  }

  p {
    line-height: 1.5em;
    margin: 0 0 1em;

    &.intro {
      color: variables.$white;
      font: 3.6rem/1em variables.$font-stack;
      font-weight: 100;
      margin-bottom: 3.6rem;
    }
  }
}

.case-study {
  margin: 0;
  min-height: 285px;
  padding: 1.5rem 1.5rem 0;
  transition: all 240ms linear;
}

.stage10 {
  background-color: variables.$stage10;

  .pagination-web {
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: 300ms;
    z-index: 10;
  }

  .swiper-pagination-bullet {
    background: color.adjust(variables.$stage10, $lightness: -50%);
    border: 0;
    transition: all 240ms linear;
  }

  .swiper-pagination-bullet-active {
    background: variables.$white;
    opacity: 1;
  }

  .cd-handle.draggable {
    /* change background color when element is active */
    background-color: variables.$stage10;

  }
}

.sfu {
  background-color: variables.$sfu;

  .swiper-pagination-bullet {
    background: color.adjust(variables.$sfu, $lightness: -50%);
    border: 0;
    transition: all 240ms linear;
  }

  .swiper-pagination-bullet-active {
    background: variables.$white;
    opacity: 1;
  }

  .cd-handle.draggable {
    /* change background color when element is active */
    background-color: variables.$sfu;

  }
}

.freelance {
  background-color: variables.$freelance;

  .pagination-nvbc,
  .pagination-ac,
  .pagination-hpac {
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: 300ms;
    z-index: 10;
  }

  .swiper-pagination-bullet {
    background: color.adjust(variables.$freelance, $lightness: -50%);
    border: 0;
    transition: all 240ms linear;
  }

  .swiper-pagination-bullet-active {
    background: variables.$white;
    opacity: 1;
  }
}

img {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  width: 100%;
}
