@use "../helpers/variables";

.btn,
button {
  background: transparent;
  border: 2px solid variables.$white;
  border-radius: 3px;
  box-sizing: border-box;
  color: variables.$white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 1.5rem;
  padding: .6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 240ms ease;

  &:hover {
    background: variables.$white;
    border-color: variables.$white;
    color: variables.$brand-primary;
  }
}
