.nav-collapse.disable-pointer-events {
    pointer-events: none !important;
}

.nav-collapse {
    z-index: 1;
    font-family: sans-serif
}

.nav-collapse, 
.nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.nav-collapse, 
.nav-collapse ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left
}

@media screen and (min-width:46.25em) {
    .nav-collapse, 
    .nav-collapse ul {
      text-align: right;
    }
}

.nav-collapse li {
    float: left;
    width: 100%;
    display: block
}

@media screen and (min-width:46.25em) {

    .nav-collapse li {
        float: none;
        display: inline-block;
        *display: block;
        *float: left;
        width: auto;
        margin: 0 0 0 18px;
    }
}

.nav-collapse a {
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
    width: 100%;
    background: $brand-primary;
    padding: .5em 1em;
    float: left
}

@media screen and (min-width:46.25em) {
    .nav-collapse a {
        _float: none;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        padding: 15px;
        font-size: 15px;
        background: transparent;
        color: $black;
        border: 0;
        -webkit-transition: background .5s ease;
        -moz-transition: background .5s ease;
        -o-transition: background .5s ease;
        transition: background .5s ease
    }

    .nav-collapse a:hover, 
    .nav-collapse a:focus {
      background: $brand-primary;
      color: $white;
    }
}

@media screen and (min-width:46.25em) {
    .nav-collapse .active a {
        -webkit-font-smoothing: subpixel-antialiased;
        color: white;
        background: $brand-primary
    }

    .nav-collapse .active a:hover {
        text-decoration: none
    }

    .nav-collapse .active a:focus {
        background: $brand-primary;
    }
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden
}

@media screen and (min-width:46.25em) {
    .js .nav-collapse {
        position: relative !important;
        max-height: none
    }
}

.nav-collapse.opened {
    max-height: 9999px
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 50px;
    height: 50px;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    background: url("/img/hamburger.png") no-repeat 50% 50%;
    background-size: 50%;

}

@media screen and (min-width:46.25em) {
    .nav-toggle {
        display: none;
    }
}