.share {
  @include clearfix;
  @include breakpoint ($small) {
    display: flex;
    margin: 0 0 160px 58%;
    width: 42%;
  }

  display: block; 
  margin: 0 0 75px;
  text-align: center;
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 15px 0 0;
  }

  svg {
    path, 
    polygon {
      fill: #e1e1e1;
    }
  }
}
