@use "../helpers/variables";

@keyframes shift-bg-colour {
  0% {
    background-color: variables.$brand-primary;
  }

  50% {
    background-color: variables.$brand-secondary;
  }

  100% {
    background-color: variables.$brand-primary;
  }
}

@keyframes shift-colour {
  0% {
    color: variables.$brand-primary;
  }

  50% {
    color: variables.$brand-secondary;
  }

  100% {
    color: variables.$brand-primary;
  }
}
