html {
  background-size: cover;
  box-sizing: border-box;
  font-family: "GothamRndSSm-Book", sans-serif;
  font-size: 62.5%;

}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  height: 100vh;
}

.l-pad-bottom {
  margin-bottom: 1.8rem;
}
