@use "../helpers/variables";

h1 { 
  color: variables.$white;
  font-family: variables.$font-stack;
  margin: 0 0 1rem;
}

h2 {
  color: variables.$white;
  font: bold 3.6rem/1.5em variables.$font-stack;
  margin: 0;

  &.rule {
    border-top: 1px dotted rgba(220, 220, 200, .6);
    padding-top: 15px;
  }
}

h3 {
  color: variables.$white;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0;
}

h4 {
  color: rgba(variables.$white, .25);
  font-size: 1.2rem;
  line-height: 1.25em;
  font-weight: bold;
  margin: 0 0 1em;
}

p {
  color: variables.$white;
  font: 1.8rem/1.5em variables.$font-stack;
  font-weight: 100;
  margin: 0 0 1em;
}

a {
  color: variables.$white;
  font-family: variables.$font-stack;
  font-size: 1em;
  text-decoration: underline;
}

figcaption {
  color: variables.$white;
  font-size: 1.2em;
  text-align: center;
}

.intro {
  font-size: 3.6rem;
  font-weight: 100;
}
