//Breakpoints
$xsmall: 320px;
$small: 768px;
$medium: 920px;
$large:	1100px;
$xlarge: 1100px;

//Grid Setting
$grid-columns: 12;
$grid-half: $grid-columns/2;
$grid-third: $grid-columns/3;
$grid-quarter: $grid-columns/4;

$base-layout: (
  container: auto,
  columns: 4,
  gutters: .25,
  gutter-position: inside,
  math: fluid,
  output: isolate,
);

//Container
$container-small: layout(auto $grid-third .25 inside fluid isolate);
$container-medium: layout($medium $grid-half .25 after fluid isolate);
$container-large: layout($large $grid-columns .25 after fluid isolate);
$container-xlarge: layout($xlarge $grid-columns .25 after fluid isolate);

//z-index
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal:             1040 !default; 