//Breakpoints
$xsmall: 320px;
$small: 768px;
$medium: 920px;
$large:	1100px;
$xlarge: $large;

//Grid Setting
$grid-columns: 12;
$grid-half: $grid-columns/2;
$grid-third: $grid-columns/3;
$grid-quarter: $grid-columns/4;

// Container widths (will be replaced with CSS Grid)
$container-max-width: 1200px;


//Colours
$black: #000;
$white: #fff;
$brand-primary: #0081cb;
$brand-secondary: #4e008b;
$grey: #dad8d6;

$stage10: #ff5000;
$sfu: #f6323e;
$freelance: #00a887;

//Fonts

$font-stack: "GothamRndSSm-Book", sans-serif;
